#container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 10em;
}

button {
    width: 70px;
    box-sizing: content-box;
    background-color: #fdfdfd;
    border: none;
    padding: 20px 30px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    /*border: 1px solid rgb(224, 66, 66)*/
    background-color: rgb(247, 247, 125);
}

img {
    width: 200px;
}